// MAIN
.main {
	flex: 1 0 auto;
	overflow: hidden;
    padding-top: 80px;
}
// customization
.customization {
    background: rgb(19, 105, 101);
    &-content {
        background: rgb(255, 255, 255);
        border-radius: 3px;
        color: rgb(177, 186, 211);
        width: 130px;
        &:after {
            top: 100%;
            border-radius: 2px;
            width: 0px;
            height: 0px;
            border-color: rgb(255, 255, 255) transparent transparent;
            border-style: solid;
            border-width: 8px 6px 0px;
        }
    }

    &-btn {
        background: none;
        font-weight: 600;
        font-size: 14px;
        border: none;
        color: rgb(0, 123, 255);
        height: 40px;
        min-width: 14px;
        &:hover {
            box-shadow: none;
            color: #6a8195;
            background: rgb(213, 220, 235)
        }
        // &:active {
        //     color: rgb(0, 123, 255);
        //     background: rgb(255, 255, 255);
        // }
    }
    &-svg {
        display: inline-block;
        width: 1em;
        height: 1em;
        stroke-width: 0;
        stroke: currentcolor;
        fill: currentcolor;
    }
    &-input {
        width: 100%;
        padding: 0px;
        cursor: pointer;
    }
    &-text {
        color: #557086;
        font-size: 14px;
    }
    .btn {
        width: 100%;
        justify-content: flex-start;
        &:active {
            color: rgb(0, 123, 255);
            background: rgb(255, 255, 255);
        }
    }
    &-styledbutton {
		font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
		// justify-content: center;
		// align-items: center;
		// transition: background 300ms ease 0s, opacity 300ms ease 0s, transform 100ms ease 0s;
		// line-height: 1.5;
		color: rgb(177, 186, 211);
		background: rgb(47, 69, 83);
		// padding: calc(0.5em + 2px) 1em;
		// display: block;
		font-size: 14px;
		height: 44px;
		border-radius: 3px;
		margin: 4px;
		border: 2px solid rgb(47, 69, 83);
		// position: relative;
		max-width: 40px;
		// text-align: center;
		width: 100%;
		&:hover {
			color: rgb(177, 186, 211);
			background: rgb(66, 90, 108);
		}
		&:after {
			content: "";
			position: absolute;
			height: 6px;
			width: 6px;
			border-radius: 50%;
			top: 3px;
			right: 3px;
			z-index: 1;
			background-color: rgb(47, 69, 83);
			animation-duration: 1000ms;
		}
		&-link {
            display: flex;
            align-items: center;
            justify-content: center;
			font-weight: 600;
			font-size: 14px;
			border-radius: 3px;
			height: 40px;
			color: rgb(255, 255, 255);
			background: rgb(15, 33, 46);
			&:hover {
				color: rgb(213, 220, 235);
			}
		}
	}
    &-bkock-link {
        margin-bottom: 10px;
    }

}
.svg-color {
    color: #6a8195;

}