// MAIN
.main {
	flex: 1 0 auto;
	overflow: hidden;
    padding-top: 80px;
}
// customization
.customization {
    background: rgb(19, 105, 101);
    &-content {
        // box-shadow: rgb(0 0 0 / 20%) 0px 10px 15px -3px, rgb(0 0 0 / 10%) 0px 4px 6px -2px;
        background: rgb(255, 255, 255);
        border-radius: 3px;
        color: rgb(177, 186, 211);
        // position: fixed;
        // display: flex;
        // width: max-content;
        // pointer-events: all;
        // min-width: 21px;
        width: 130px;
        // animation-fill-mode: forwards;
        // animation-duration: 200ms;
        // animation-timing-function: ease-out;
        // z-index: 1500;
        // transform: translate(0px, -100%);
        // animation-name: eFATfu;
        &:after {
            top: 100%;
            border-radius: 2px;
            width: 0px;
            height: 0px;
            border-color: rgb(255, 255, 255) transparent transparent;
            border-style: solid;
            border-width: 8px 6px 0px;
        }
    }

    &-btn {
        background: none;
        font-weight: 600;
        font-size: 14px;
        // border-radius: 3px;
        border: none;
        // touch-action: manipulation;
        // position: relative;
        // display: inline-flex;
        // -webkit-box-pack: center;
        // justify-content: center;
        // -webkit-box-align: center;
        // align-items: center;
        // transition: background 300ms ease 0s, opacity 300ms ease 0s, transform 100ms ease 0s;
        // line-height: 1.5;
        color: rgb(0, 123, 255);
        height: 40px;
        min-width: 14px;
        // background: rgb(255, 255, 255);
        // padding: calc(0.75em + 2px);
        &:hover {
            // color: rgb(0, 123, 255);
            // background: rgb(255, 255, 255);
            box-shadow: none;
            color: #6a8195;
            background: rgb(213, 220, 235)
        }
        // &:active {
        //     color: rgb(0, 123, 255);
        //     background: rgb(255, 255, 255);
        // }
    }
    &-svg {
        display: inline-block;
        width: 1em;
        height: 1em;
        stroke-width: 0;
        stroke: currentcolor;
        fill: currentcolor;
    }
    &-input {
        width: 100%;
        padding: 0px;
        cursor: pointer;
        // input[type] {
        //     appearance: none;
        // }
    }
    &-text {
        color: #557086;
        font-size: 14px;
    }
    .btn {
        width: 100%;
        justify-content: flex-start;
        &:active {
            color: rgb(0, 123, 255);
            background: rgb(255, 255, 255);
        }
    }

}
.svg-color {
    color: #6a8195;

}