// MAIN
.main {
	flex: 1 0 auto;
	overflow: hidden;
    padding-top: 80px;
}
.stake {
	background: #192c39;
	&-block-left {
		background: rgb(33, 55, 67);
		// width: 300px;
	}
	&-button {
		font-weight: 600;
		font-size: 12px;
		height: 34px;
		min-width: 100px;
		background: #142a37;
		color: rgb(177, 186, 211);
		border: none;
		&:hover {
			color: rgb(177, 186, 211);
			background: rgb(66, 90, 108);
		}
	}
	.button-manual {
		border-radius: 3px 0 0 3px;
	}
	.button-auto {
		border-radius: 0;
		background: #2f4553;
		// border-right: 1px solid;
	}
	.button-plus {
		border-radius: 0 3px 3px 0;
		background: #2f4553;
	}
	&-svg {
		display: inline-block;
		width: 1em;
		height: 1em;
		stroke-width: 0;
		stroke: currentcolor;
		fill: currentcolor;
	}
	&-text {
		color: rgb(177, 186, 211);
		font-weight: 600;
		font-size: 14px;
	}
	.color-info {
		color: rgb(177, 186, 211);
		cursor: help;
	}
	&-label {
		position: relative;
	}
	&-coin-svg {
		display: inline-block;
		width: 1em;
		height: 1em;
		stroke-width: 0;
		stroke: currentcolor;
		fill: currentcolor;
		position: absolute;
		top: 50%;
		transform: translate(0px, -50%);
		pointer-events: none;
		color: rgb(177, 186, 211);
		cursor: text;
		right: 0.75em;
	}
	&-input {
		color: rgb(255, 255, 255);
		background: rgb(15, 33, 46);
		border: 2px solid rgb(47, 69, 83);
		border-radius: 3px 0 0 3px;
		font-weight: 600;
		transition: all 200ms ease-out 0s;
		width: 100%;
		height: 40px;
		padding: 0.5em 2em 0.5em 0.5em;
		border-right: none;
	}
	.btn-input {
		// background: rgb(47 69 83);
		background: #2f4553;
		min-width: 40px;
		height: 40px;
		border: none;
		border-radius: 0;
		&:hover {
			color: rgb(177, 186, 211);
    		// background: rgb(47 69 83);
		}
	}
	&-btn {
		&:nth-child(2) {
			border-radius: 0 3px 3px 0;
			position: relative;
			&:before {
				content: "";
				position: absolute;
				width: 2px;
				left: -1px;
				top: 25%;
				bottom: 25%;
				background: rgb(26, 44, 56);
			}
		}
	}
	&-input-profit {
		width: 100%;
		color: rgb(255, 255, 255);
		background: rgb(47, 69, 83);
		// box-shadow: rgb(0 0 0 / 20%) 0px 1px 3px 0px, rgb(0 0 0 / 12%) 0px 1px 2px 0px;
		border: 2px solid rgb(47, 69, 83);
		border-radius: 0.25rem;
		letter-spacing: 0px;
		font-weight: 600;
		transition: all 200ms ease-out 0s;
		outline: 0px;
		cursor: text;
		height: 40px;
		// appearance: none;
		// padding: 0.5em 2em 0.5em 0.5em;
	}
	&-btn-bet {
		color: rgb(1, 62, 1);
		background: rgb(31, 255, 32);
		min-width: 300px;
		font-weight: 600;
		font-size: 14px;
		border: none;
		border-radius: 3px;
		height: 50px;
		&:hover {
			color: rgb(1, 62, 1);
			background: rgb(0, 184, 1);
		}
	}
	&-block-right {
		background: #10212e;
		width: 100%;
		min-height: 500px;
		border-bottom: 3px solid rgb(33, 55, 67);
	}
	&-block {
		background: rgb(33, 55, 67);
		width: 100%;
		label {
			position: relative;
			width: calc(100% / 3);
		}
		&-input {
			width: 100%;
			color: rgb(255, 255, 255);
			background: rgb(15, 33, 46);
			// box-shadow: rgb(0 0 0 / 20%) 0px 1px 3px 0px, rgb(0 0 0 / 12%) 0px 1px 2px 0px;
			border: 2px solid rgb(47, 69, 83);
			border-radius: 3px;
			letter-spacing: 0px;
			font-weight: 600;
			transition: all 200ms ease-out 0s;
			outline: 0px;
			cursor: text;
			appearance: none;
			height: 40px;
			// padding: 0.5em 2em 0.5em 0.5em;
			padding: 10px 30px 10px 10px;
			&:nth-child(2) {
				cursor: pointer;
				text-align: left;
			}
		}
		&-svg {
			display: inline-block;
			width: 1em;
			height: 1em;
			stroke-width: 0;
			stroke: currentcolor;
			fill: currentcolor;
			position: absolute;
			top: 50%;
			transform: translate(0px, 25%);
			pointer-events: none;
			color: rgb(177, 186, 211);
			cursor: text;
			right: 10px;
		}
		.svg {
			transform-origin: center center;
			transition: all 200ms ease-out 0s;
			transform: translate(0px, 25%) rotate(180deg);
		}
		&-bottom {
			border-radius: 0px 0px 3px 3px;
			background: center center / cover rgb(15, 33, 46);
			color: rgb(213, 220, 235);
			&-content {
				border-right: 1px solid rgb(47, 69, 83);
			}
			&-text {
				font-weight: 600;
				font-size: 14;
				color: rgb(177, 186, 211);
				&:hover {
					color: rgb(255, 255, 255);
				}
			}
			button {
				font-weight: 600;
				font-size: inherit;
				// border-radius: 3px;
				border: none;
				touch-action: manipulation;
				position: relative;
				background: none;
				height: 40px;
				min-width: 30px;
				// display: inline-flex;
				// -webkit-box-pack: center;
				// justify-content: center;
				// -webkit-box-align: center;
				align-items: center;
				transition: background 300ms ease 0s, opacity 300ms ease 0s, transform 100ms ease 0s;
				color: rgb(177, 186, 211);
				// padding: calc(0.5em + 2px) 1em;
				&:hover {
					color: rgb(255, 255, 255);
				}
				svg {
					display: inline-block;
					width: 15px;
					height: 15px;
					stroke-width: 0;
					stroke: currentcolor;
					fill: currentcolor;
					font-weight: 600;

				}
			}
		}
	}
}


// .stake {
// 	background: #192c39;
// 	height: 600px;
// 	&-block-left {
// 		background: rgb(33, 55, 67);
// 		// width: 300px;
// 		// display: flex;
// 		// flex-direction: column;
// 		// align-items: stretch;
// 		// width: 100%;
// 		// padding: 1rem;
// 		// min-width: 300px;
// 	}
// 	&-button {
// 		color: rgb(177, 186, 211);
// 		background: rgb(7, 29, 42);
// 		font-weight: 600;
// 		font-size: 12px;
// 		height: 34px;
// 		min-width: 110px;
// 		border: none;
// 		&:hover {
// 			color: rgb(177, 186, 211);
// 			background: rgb(66, 90, 108);
// 		}
// 	}
// 	.button-manual {
// 		border-radius: 3px 0 0 3px;
// 	}
// 	.button-auto {
// 		border-radius: 0;
// 	}
// 	.button-plus {
// 		border-radius: 0 3px 3px 0;
// 	}
// 	&-block-right {
// 		background: #10212e;
// 	}
// 	// &-svg {
// 	// 	path {
// 	// 		background: red;
// 	// 		color: red;
// 	// 	}
// 	// }
// }
// // .stake-block-left:first-child {
// // 	width: 300px;
// // }